@import url('https://fonts.googleapis.com/css?family=Lobster&display=swap');
html,
body {
    background: white;
    color: black;
}


/* @keyframes scroll {
    100% {
        background-position: 0px -3000px;
    }
}

@media (prefers-reduced-motion) {
    .wrapper {
        animation: scroll 200s linear infinite;
    }
} */

.home {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 30pt;
    animation: scroll 70s linear infinite;
    background: url("https://images.unsplash.com/photo-1465146633011-14f8e0781093?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=3450&q=80"), #111111;
    color: white;
    width: 100%;
    height: 99vh;
    font-weight: bold;
}

.name {
    color: turquoise;
}

.button {
    background: none;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16pt;
    margin: 20px 0;
    transition-duration: all 0.5s;
    cursor: pointer;
}

.button1 {
    background: none;
    color: white;
    border: 2px solid white;
}

.button1:hover {
    background-color: turquoise;
    color: white;
}

.arrow {
    border: solid white;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
}

.right {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
}

.navbar {
    position: sticky;
    top: 0;
    padding-left: 200px;
}

.navbar a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.active {
    color: turquoise;
}

.nav-link {
    color: white !important;
}

.nav-link:hover {
    color: turquoise !important;
}

h1 {
    text-align: center;
    text-decoration: underline;
    margin-bottom: 50px;
    margin-top: 50px;
}

.about {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

* {
    box-sizing: border-box;
}

.card {
    margin-left: 20px;
    border: none;
}

p {
    font-size: 13pt;
}

.myphoto {
    margin-bottom: 10px;
    margin-top: 10px;
}

.barcontainerheader {
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    text-decoration: underline;
}

.barcontainer {
    position: relative;
    /* border: 3px solid black; */
    border-radius: 5px 5px 0 0;
    width: 80%;
    margin: 0 auto;
    min-height: 25vw;
    max-height: 50vw;
    min-width: 40%;
    max-width: 60%;
    z-index: 1;
}

.bar {
    position: absolute;
    display: inline-block;
    bottom: 0;
    border: 1px solid white;
    border-radius: 6px 6px 0 0;
    background: turquoise;
    width: 10%;
    text-align: center;
    color: black;
    text-shadow: 1px 1px 0 black;
    box-shadow: 4px 0 8px #888;
}

.bar:nth-child(2) {
    left: 5%;
}

.bar:nth-child(3) {
    left: 20%;
}

.bar:nth-child(4) {
    left: 35%;
}

.bar:nth-child(5) {
    left: 50%;
}

.bar:nth-child(6) {
    left: 65%;
}

.bar:nth-child(7) {
    left: 80%;
}

.projects {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.click {
    background-color: turquoise !important;
    border: white;
}

.contact {
    margin: 10px;
    align-items: center;
}